# ansible.cfg local pour le playbook wireguard-ssh-runner (roles_path relatif).
[defaults]
roles_path = ./roles
host_key_checking = False
interpreter_python = /usr/bin/python3
stdout_callback = default
callback_result_format = yaml
