# All gates remain off after installation. Do not store credentials here.
AGENTIMPACT_V2_ENABLED=0
AGENTIMPACT_V2_EXECUTION_ENABLED=0
AGENTIMPACT_V2_CODEX_WORKER_ENABLED=0
AGENTIMPACT_V2_CODEX_PUBLISHER_ENABLED=0
AGENTIMPACT_CODEX_AUTH_MODE=unknown
AGENTIMPACT_CODEX_BILLING_MODE=unknown
AGENTIMPACT_CODEX_QUOTA_STATE=UNKNOWN
